<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>itemName</key>
		<string>篮球</string>
		<key>currentUsers</key>
		<string>4</string>
		<key>totalUsers</key>
		<string>6</string>
		<key>longitude</key>
		<real>120.150421</real>
		<key>latitude</key>
		<real>30.314999</real>
	</dict>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>currentUsers</key>
		<string>0</string>
		<key>totalUsers</key>
		<string>10</string>
		<key>itemName</key>
		<string>足球</string>
		<key>longitude</key>
		<real>120.146757</real>
		<key>latitude</key>
		<real>30.315591</real>
	</dict>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>currentUsers</key>
		<string>4</string>
		<key>totalUsers</key>
		<string>5</string>
		<key>itemName</key>
		<string>跑步</string>
		<key>longitude</key>
		<real>120.146261</real>
		<key>latitude</key>
		<real>30.31825</real>
	</dict>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>currentUsers</key>
		<string>4</string>
		<key>totalUsers</key>
		<string>8</string>
		<key>itemName</key>
		<string>篮球</string>
		<key>longitude</key>
		<real>120.151995</real>
		<key>latitude</key>
		<real>30.316551</real>
	</dict>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>currentUsers</key>
		<string>4</string>
		<key>totalUsers</key>
		<string>5</string>
		<key>itemName</key>
		<string>网球</string>
		<key>longitude</key>
		<real>120.154512</real>
		<key>latitude</key>
		<real>30.319226</real>
	</dict>
	<dict>
		<key>usrIcon</key>
		<string>1.png</string>
		<key>currentUsers</key>
		<string>1</string>
		<key>totalUsers</key>
		<string>3</string>
		<key>itemName</key>
		<string>羽毛球</string>
		<key>longitude</key>
		<real>120.156771</real>
		<key>latitude</key>
		<real>30.322373</real>
	</dict>
</array>
</plist>
